.listItems {
  list-style-type: none;
  padding: 0;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
}
