.details {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: start;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(rgb(0, 255, 174), pink);
  align-self: start;
}

.imgItem {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
