.manBox {
  /* display: inline-grid; */
  /* grid-template-rows: 100%; */
  /* grid-template-columns: 50%; */
  border: 1px solid sienna;
}

.searchBox {
  /* display: flex; */
  justify-content: space-between;
}
.fetchDataBox {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.input {
  font-size: 18px;

  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  height: 40px;
}
.input:focus {
  outline: none;
}
