[data-theme='light'] {
  --bg-color-buttonActive: #ff0000;
}

[data-theme='dark'] {
  --bg-color-buttonActive: #405cf5;
}

.block-buttons {
  display: flex;
  gap: 10px;
}

.button-active {
  background-color: var(--bg-color-buttonActive) !important;
}
