.selectedItems {
  position: absolute;
  bottom: 61px;
  right: 30%;
}
.content {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  width: 300px;
  min-height: 120px;
  background-color: blue;
}
.content__buttons {
  display: flex;
  justify-content: space-between;
}

.content__title {
  color: aliceblue;
}

.button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
